$bg-color:lightblue;
$primary: red;
$secondary: brown;

.footer {
  background-color: $bg-color;
  color: $primary;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  .footer__link {
    color: $secondary;
  }
}
